.good-dot {
    height: 25px;
    width: 25px;
    background-color: rgb(28, 187, 36);
    border-radius: 50%;
    display: inline-block;
  }

.ewarning-dot {
    height: 25px;
    width: 25px;
    background-color: rgb(233, 229, 18);
    border-radius: 50%;
    display: inline-block;
}

.danger-dot {
    height: 25px;
    width: 25px;
    background-color: rgb(184, 14, 14);
    border-radius: 50%;
    display: inline-block;
}

table td.energy { text-align: end;}
table td.energyPrice { text-align: end;}
table td.budget { text-align: end;}
table td.budgetPrice { text-align: end;}
table td.percentage { text-align: end;}
table td.difference { text-align: end;}
table td.transport { text-align: end;}
table td.service { text-align: end;}
table td.others { text-align: end;}
table td.total { text-align: end;}
table td.fixed { text-align: end;}
